
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	color: #427f43;
	background-color: #dff0d8;
	border-color: #95ab8c;
	font-size: 14px;
	line-height: 1.4;
}

.alert a{
	font-weight: bold;
	color: #2d6987;
}

.inside > .field{
	/* border-top: 1px solid #ccc !important; */
}

#cpt_info_box{
	display: none !important;
}